# This file contains default .gitignore rules. To use it, copy it to .gitignore,
# and it will cause files like your settings.php and user-uploaded files to be
# excluded from Git version control. This is a common strategy to avoid
# accidentally including private information in public repositories and patch
# files.

# Ignore core files and directories
/core/
/modules/contrib/
/themes/contrib/
/profiles/contrib/
/libraries/
/sites/*/files/
/sites/*/private/
/sites/*/settings.php
/sites/*/services.yml

# Ignore dependencies that are managed with Composer.
/vendor/

# Ignore config export files
/sites/*/config_*/*.yml
/sites/*/config_*/*.json
/sites/*/config_*/*.sync
/sites/*/config_*/*.md

# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/*/services*.yml

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore SimpleTest multi-site environment.
sites/simpletest

# If you prefer to store your .gitignore file in the sites/ folder, comment
# or delete the previous settings and uncomment the following ones, instead.

# Ignore configuration files that may contain sensitive information.
*/settings*.php

# Ignore paths that contain user-generated content.
*/files
*/private

# Ignore SimpleTest multi-site environment.
simpletest

# Ignore cache and logs
/sites/*/files/php/
/sites/*/files/css/
/sites/*/files/js/
/sites/*/files/styles/
/sites/*/files/js_composer/
/sites/*/files/ctools/
/sites/*/files/color/
/sites/*/files/picture/
/sites/*/files/imagecache/
/sites/*/files/backup_migrate/
/sites/*/files/field/
/sites/*/files/simplenews/
/sites/*/files/views/
/sites/*/files/webform/
/sites/*/files/p3/
/sites/*/files/inline_entity_form/
/sites/*/files/inline_entity_form_single/
/sites/*/files/ctools/css/
/sites/*/files/ctools/js/
/sites/*/files/ctools/modal/
/sites/*/files/libraries/
/sites/*/files/fonts/
/sites/*/files/advagg_css/
/sites/*/files/advagg_js/
/sites/*/logs/
/sites/*/tmp/
/sites/*/cache/
/sites/*/config_cache/
/sites/*/files/entityform/
/sites/*/files/slick/
/sites/*/files/dropzonejs/
/sites/*/files/simple_sitemap/
/sites/*/files/quicktabs/

# Ignore files and directories generated by various Drupal modules
/sites/*/captcha_files/
/sites/*/simpletest/
/sites/*/phpunit/
/sites/*/devel/
/sites/*/backup_migrate/
/sites/*/stage_file_proxy/
/sites/*/views_export/
/sites/*/migration_tools/
/sites/*/webform_export/
/sites/*/webprofiler/
/sites/*/stage_file_proxy_import/
/sites/*/upsell_manager/
/sites/*/bulk_media_upload/
/sites/*/yaml_editor/
/sites/*/block_content_permissions_ui/
/sites/*/config_split_ui/
/sites/*/composer_manager/
/sites/*/better_exposed_filters/
/sites/*/quicktabs_style_plugins/
/sites/*/quicktabs_theme_plugins/
/sites/*/entity_browser/
/sites/*/block_class/
/sites/*/custom_config_perms/
/sites/*/component_block/
/sites/*/panels_in_place_editor/
/sites/*/field_formatter_class/
/sites/*/smart_trim/
/sites/*/jquery_ui_multiselect/
/sites/*/computed_field/
/sites/*/baidu_push/
/sites/*/system_status/
/sites/*/paragraphs_preview/
/sites/*/fast_404/
/sites/*/fontyourface_importer/
/sites/*/yoast_seo/
/sites/*/inline_entity_form_tools/
/sites/*/redirect_checker/
/sites/*/mailsystem/
/sites/*/admin_toolbar_tools/
/sites/*/imagefield_caption/
/sites/*/pathauto_ui/
/sites/*/module_filter/
/sites/*/block_visibility_groups/
/sites/*/menu_breadcrumb_taxonomy/
/sites/*/media_entity_twitter/
/sites/*/jsonapi_explorer/
/sites/*/module_permissions/
/sites/*/rdfui/
/sites/*/entity_embed/
/sites/*/image_widget_crop/
/sites/*/site_audit/
/sites/*/views_templates/
/sites/*/d7_router/
/sites/*/intercept_form_submit/
/sites/*/user_restrictions/
/sites/*/config_devel/
/.csslintrc
/.editorconfig
/.eslintignore
/.eslintrc.json
/.gitattributes
/.ht.router.php
/.htaccess
/example.gitignore